USE [QuizDB]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 3/1/2018 7:06:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Question]') AND type in (N'U'))
DROP TABLE [dbo].[Question]
GO
/****** Object:  Table [dbo].[Participant]    Script Date: 3/1/2018 7:06:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Participant]') AND type in (N'U'))
DROP TABLE [dbo].[Participant]
GO
USE [master]
GO
/****** Object:  Database [QuizDB]    Script Date: 3/1/2018 7:06:27 PM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'QuizDB')
DROP DATABASE [QuizDB]
GO
/****** Object:  Database [QuizDB]    Script Date: 3/1/2018 7:06:27 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'QuizDB')
BEGIN
CREATE DATABASE [QuizDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuizDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuizDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuizDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizDB]
GO
/****** Object:  Table [dbo].[Participant]    Script Date: 3/1/2018 7:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Participant]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Participant](
	[ParticipantID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Score] [int] NULL,
	[TimeSpent] [int] NULL,
 CONSTRAINT [PK_Partcipant] PRIMARY KEY CLUSTERED 
(
	[ParticipantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Question]    Script Date: 3/1/2018 7:06:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Question]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Question](
	[QnID] [int] IDENTITY(1,1) NOT NULL,
	[Qn] [varchar](250) NULL,
	[ImageName] [varchar](50) NULL,
	[Option1] [varchar](50) NULL,
	[Option2] [varchar](50) NULL,
	[Option3] [varchar](50) NULL,
	[Option4] [varchar](50) NULL,
	[Answer] [int] NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[QnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
USE [master]
GO

USE [QuizDB]
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

GO
INSERT [dbo].[Question] ([QnID], [Qn], [ImageName], [Option1], [Option2], [Option3], [Option4], [Answer]) VALUES (1, N'What does HTML stand for?', NULL, N'Hyper Trainer Marking Language', N'Hyper Text Marketing Language', N'Hyper Text Markup Language', N'Hyper Text Markup Leveler', 2)
GO
INSERT [dbo].[Question] ([QnID], [Qn], [ImageName], [Option1], [Option2], [Option3], [Option4], [Answer]) VALUES (2, N'In Java, a method is a container that holds classes.', NULL, N'True', N'False', NULL, NULL, 1)
GO
INSERT [dbo].[Question] ([QnID], [Qn], [ImageName], [Option1], [Option2], [Option3], [Option4], [Answer]) VALUES (3, N'Who invented the first computer ?', NULL, N'Charles Babbage', N'Linus Torvalds', N'Dennis Ritchie', N'James Gosling', 0)
GO
SET IDENTITY_INSERT [dbo].[Question] OFF
GO

